/* @import url('http://example.com/example_style.css'); */
/* @import url("../../../../../../../../cdn.jsdelivr.net/npm/%40fortawesome/fontawesome-free%405.15.4/css/fontawesome.min.css"); */
/* @import url("../../../../../../../../477837.fs1.hubspotusercontent-na1.net/hubfs/477837/Burns_McDonnell_February_2022/aeonik-font/css/stylesheet-family-support.css"); */
/* @import url("../../../../../../../../477837.fs1.hubspotusercontent-na1.net/hubfs/477837/Burns_McDonnell_February_2022/aeonik-font/css/stylesheet-individual-weights.css"); */





/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section  ye               */
/***********************************************/

/*****************************************/
/* Start your style declarations here    */
/*****************************************/
/*** new style update **/
.email-prefs .item {
  margin: 2rem;
  border-bottom: 2px solid #a5abad;
}

.highlighted {
  background-image: linear-gradient(#e6f001, #e6f001);
  padding: 0rem .5rem;
}

.email-prefs .item p,
.email-prefs .item span {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: .03em;
  text-transform: none;
}

.email-prefs .header {

  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2em;
  letter-spacing: .03em;
  leading-trim: both;
  text-edge: cap alphabetic;


}

#email-prefs-form {}

svg {
  transition: all 175ms ease-in;
  position: relative;
}

.anchor {
  cursor: pointer
}

.displayLarge {

  font-family: "Aeonik", Arial;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.25em;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;

}

.displayMedium {

  font-family: "Aeonik", Arial;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1.25em;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;

}


.titleLarge {

  font-family: "Aeonik", Arial;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1.2em;
  letter-spacing: .03em;
  leading-trim: both;
  text-edge: cap alphabetic;

}

.titleMedium {



  font-family: "Aeonik", Arial;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.2em;
  letter-spacing: .03em;
  leading-trim: both;
  text-edge: cap alphabetic;

}

.titleSmall {



  font-family: "Aeonik", Arial;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.25em;
  letter-spacing: .03em;
  leading-trim: both;
  text-edge: cap alphabetic;

}


.statsMedium {


  font-family: "Aeonik", Arial;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2em;
  letter-spacing: .03em;
  leading-trim: both;
  text-edge: cap alphabetic;



}

.headlineMedium {


  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2em;
  letter-spacing: .03em;
  leading-trim: both;
  text-edge: cap alphabetic;


}

.headlineLarge {


  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.25em;
  letter-spacing: .03em;
  leading-trim: both;
  text-edge: cap alphabetic;


}


.headlineSmall {


  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2em;
  letter-spacing: .03em;
  leading-trim: both;
  text-edge: cap alphabetic;



}

.subheadLarge {

  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.375em;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;


}

.eyebrowLarge {


  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2em;
  letter-spacing: .1em;
  leading-trim: both;
  text-edge: cap alphabetic;


}

.eyebrowMedium {


  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2em;
  letter-spacing: .1em;
  leading-trim: both;
  text-edge: cap alphabetic;



}

.eyebrowSmall {


  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: .75rem;
  line-height: 1.2em;
  letter-spacing: .1em;
  leading-trim: both;
  text-edge: cap alphabetic;



}

.bodyLarge {


  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5em;
  letter-spacing: .03em;
  leading-trim: both;
  text-edge: cap alphabetic;



}

.bodyMedium {


  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5em;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;



}

.bodySmall {


  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5em;
  letter-spacing: .02em;
  leading-trim: both;
  text-edge: cap alphabetic;



}

.bodyXS {


  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.5em;
  letter-spacing: .02em;
  leading-trim: both;
  text-edge: cap alphabetic;



}

.buttonLarge {


  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: normal;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;



}

.buttonMedium {


  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: normal;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;



}

.navMedium {


  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25em;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;



}

.navSmall {


  font-family: "Aeonik", Arial;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25em;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;



}

.navXSmall {


  font-family: "Aeonik", Arial;
  font-weight: 400;
  font-size: .95rem;
  line-height: 1.25em;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;



}

/* button updates */

.buttonPlay {


  border-radius: 20px;



  cursor: pointer;
  transition: all .5s ease
}

.buttonPlaySvg {
  fill: white;
  transition: all .5s ease
}

.buttonPlay:hover {
  background-color: white
}

.buttonPlay:hover .buttonPlaySvg:nth-of-type(1) {
  fill: white !important
}

.buttonPlay:hover .buttonPlaySvg:nth-of-type(2) {
  fill: #0066ff !important
}


.buttonArrowPrimarySvg {
  fill: #0066ff
}

.buttonArrowPrimarySvg-2 {

  stroke: #0066ff
}






.buttonArrowSecondarySvg-2 {

  stroke: white
}

.buttonArrowSecondarySvg {

  fill: white
}


.buttonArrowTertiarySvg {

  fill: #e6f001
}

.buttonArrowTertiarySvg-2 {

  stroke: #e6f001
}

.buttonArrowSimpleCircleAccent {}

.buttonArrowSimpleCircleAccent:hover {}

.buttonArrowSimpleCircleAccentSvg {

  stroke: #e6f001;
  transition: all .5s ease
}

.buttonArrowSimpleCircleAccent:hover .buttonArrowSimpleCircleAccentSvg {

  stroke: #0066ff
}

.buttonArrowSimpleCircleColor {}

.buttonArrowSimpleCircleColorSvg {
  stroke: #0066ff;
  transition: all .5s ease
}

.buttonArrowSimpleCircleColor:hover {}

.buttonArrowSimpleCircleColor:hover .buttonArrowSimpleCircleColorSvg {
  stroke: white;
}


.buttonArrowSimpleCircleReversed {}

.buttonArrowSimpleCircleReversed:hover {}

.buttonArrowSimpleCircleReversedSvg {
  stroke: #ffffff;
  transition: all .5s ease
}

.buttonArrowSimpleCircleReversed:hover .buttonArrowSimpleCircleReversedSvg {
  stroke: #0066ff;
}

.buttonPillReversed {




  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: normal;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;



  color: white;

  padding: 1rem 1.5rem;
  transition: all 0.5s ease-out;
  border: 1.5px solid white;
  border-radius: 30px
}

.buttonPillReversed:hover {




  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: normal;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;



  color: #0066ff;
  border: 1.5px solid white;
  background-color: white
}

.aj-button-wrap .buttonPillReversed:hover {




  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: normal;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;



  color: #0066ff;
  border: 1.5px solid white;
  background-color: white
}

.buttonPillReversed .buttonPillReversedSvg {
  stroke: #ffffff;
  transition: all .5s ease
}

.buttonPillReversed:hover .buttonPillReversedSvg {

  stroke: #0066ff;
}

.buttonPillReversed.external svg,
.buttonPillColor.external svg,
.buttonTextColor.external svg,
.buttonTextReversed.external svg,
.buttonTextAccent.external svg {
  transform: rotateY(0deg) rotate(-45deg);
}

.buttonPillReversed.anchor svg,
.buttonPillColor.anchor svg,
.buttonTextColor.anchor svg,
.buttonTextReversed.anchor svg,
.buttonTextAccent.anchor svg {
  transform: rotateY(0deg) rotate(90deg);
}

.buttonPillReversed.external:hover svg {
  transform: translate(4px, -4px) rotate(-45deg)
}

.buttonPillReversed.anchor:hover svg {
  transform: translate(0px, 4px) rotate(90deg)
}

.buttonPillReversed:hover svg {
  transform: translateX(4px)
}

.buttonPillColor {




  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: normal;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;



  color: #0066ff;

  padding: 1rem 1.5rem;
  transition: all 0.5s ease-out;
  border: 1.5px solid #0066ff;
  border-radius: 30px
}

.buttonPillColor:hover {




  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: normal;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;



  color: white;

  background-color: #0066ff
}

.buttonPillColor .buttonPillColorSvg {
  stroke: #0066ff;
  transition: all .5s ease
}

.buttonPillColor:hover .buttonPillColorSvg {

  stroke: white
}

.buttonPillColor:hover svg {
  transform: translateX(4px)
}

.buttonPillColor.external:hover svg {
  transform: translate(4px, -4px) rotate(-45deg)
}

.buttonPillColor.anchor:hover svg {
  transform: translate(0px, 4px) rotate(90deg)
}

.buttonTextColor {




  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: normal;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;



  color: #546066;


  transition: all 0.5s ease-out;



}

.buttonConnect {




  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: normal;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;



  color: #546066;


  transition: all 0.5s ease-out;



}

.buttonTextColor:hover,
.buttonConnect:hover {




  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: normal;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;



  color: #0066ff;




}

.buttonTextColor:hover svg {

  transform: translateX(4px)
}

.buttonTextColor.external:hover svg {

  transform: translate(4px, -4px) rotate(-45deg)
}

.buttonTextColor.anchor:hover svg {
  transform: translate(0px, 4px) rotate(90deg)
}

.buttonTextColor .buttonTextColorSvg {
  fill: #0066ff;
}

.buttonTextColor .buttonTextColorSvg-2 {
  stroke: #0066ff;
}

.buttonTextReversed {




  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: normal;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;



  color: white;


  transition: all 0.5s ease-out;



}

.buttonTextReversedHover {




  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: normal;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;



  color: white;




}

.buttonTextReversed:hover svg {

  transform: translateX(4px)
}

.buttonTextReversed.external:hover svg {

  transform: translate(4px, -4px) rotate(-45deg)
}

.buttonTextReversed.anchor:hover svg {
  transform: translate(0px, 4px) rotate(90deg)
}

.buttonTextReversed .buttonTextReversedSvg {
  fill: white;
}

.buttonTextReversed .buttonTextReversedSvg-2 {
  stroke: white;
}

.buttonTextAccent {




  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: normal;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;



  color: white;


  transition: all 0.5s ease-out;




}

.buttonTextAccentHover {




  font-family: "Aeonik", Arial;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: normal;
  letter-spacing: .05em;
  leading-trim: both;
  text-edge: cap alphabetic;



  color: white;





}

.buttonTextAccent .buttonTextAccentSvg {
  fill: #e6f001;
}

.buttonTextAccent .buttonTextAccentSvg-2 {
  stroke: #e6f001;
}

.buttonTextAccent:hover svg {

  transform: translateX(4px)
}

.buttonTextAccent.external:hover svg {

  transform: translate(4px, -4px) rotate(-45deg)
}

.buttonTextAccent.anchor:hover svg {
  transform: translate(0px, 4px) rotate(90deg)
}

/* end new additions **/

.hbspt-form {
  font-family: "Roboto", sans-serif, Arial !important;
}

.form__office-contact-image img {
  border-radius: 50%
}

.side-nav .mega-menu>li:nth-child(3) {
  margin-bottom: 0px !important
}

.side-nav .mega-menu>li:nth-child(4) {
  margin-bottom: 1.4em !important
}

.side-nav .mega-menu>li:nth-child(2)>a,
.side-nav .mega-menu li.has-submenu>a,
.side-nav ul.submenu:not(.mega-menu) li.has-submenu>a {
  text-transform: uppercase;
  color: #0057b8;
  font-size: 1.40625em;
  padding: 1em 2.66667em 1em 1.33333em;
  border-bottom: 1px solid #cacaca;
  background-color: #ebebeb;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: block;
}

.locations-list-module a:hover,
.locations-page a:hover {
  text-decoration: underline
}

.is-external {
  transform: rotateY(0deg) rotate(315deg);
}

/* start of header and body styles */
/* containers */
.widthOuterContainer {

  width: 100%;
  position: relative;
  max-width: 10000px;
  margin: 0 auto;
  overflow: hidden
}

.widthFull {

  width: 100%;
  position: relative;
  max-width: 10000px;
  margin: 0 auto;
  padding: 0px 1rem;
  box-sizing: border-box;
  overflow: hidden;

}

.widthFull .widthWide,
.widthFull .widthNarrow,
.widthFull .widthParagraph {
  padding: 0px;

}

.widthWide {

  width: 100%;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 1rem;
  box-sizing: border-box;

}

.widthWide .widthNarrow,
.widthWide .widthParagraph {
  padding: 0px;
}

.widthNarrow {

  width: 100%;
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0px 1rem;
  box-sizing: border-box;

}

.widthMedium {

  width: 100%;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 2rem;
  box-sizing: border-box;

}

.widthNarrow .widthParagraph {
  padding: 0px;
}

.widthParaNarrow {

  width: 100%;
  position: relative;
  max-width: 680px;
  margin: 0 auto;
  padding: 0pc 1rem;
  box-sizing: border-box;

}

.widthParagraphNarrow {

  width: 100%;
  position: relative;
  max-width: 680px;
  margin: 0 auto;
  padding: 0pc 1rem;
  box-sizing: border-box;

}

.widthParagraph {

  width: 100%;
  position: relative;
  max-width: 940px;
  margin: 0 auto;
  padding: 1rem 0px;
  box-sizing: border-box;

}

.widthTwelveFifty {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem
}

.widthTwelveFifty .section-header {
  text-align: center;
  font-size: 1.7rem
}

/* default style */
.bmcd-module {
  width: 100%;
  position: relative;
  padding: 1rem 0px;
}

.bmcd-module h1,
.bmcd-module h2,
.bmcd-module h3,
.bmcd-module h4,
.bmcd-module h5,
.bmcd-module ul,
.bmcd-module li,
.bmcd-module span,
.bmcd-module section,
.bmcd-module div,
.bmcd-module ol,
.bmcd-module a,
.bmcd-module p {
  font-family: "Roboto", sans-serif;


}

.bmcd-module li {
  margin-bottom: 10px;
  font-size: 1.125rem;
  color: #0a0816
}

.bmcd-module p {
  margin: 1rem 0px;
  font-size: 1.125rem;
  color: #0a0816
}

.bmcd-module h1,
.bmcd-module h2,
.bmcd-module h3,
.bmcd-module h4 {
  margin: 0px 0px
}

.bmcd-module h1 {

  font-family: "Aeonik", Arial;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: .05em;



  color: #fff;
  margin: 2rem 0px;
  leading-trim: both;
  text-edge: cap alphabetic;

}

.bmcd-module h2 {

  font-family: "Aeonik", Arial;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: .05em;



  color: #0a0816;
  margin: 2rem 0px;
  leading-trim: both;
  text-edge: cap alphabetic;

}

.bmcd-module.locations-module h3 {


  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1em;
  color: #0066ff;
  margin: 2rem 0px;


}

.bmcd-module h3 {

  font-family: "Aeonik", Arial;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: .05em;
  text-transform: none;


  color: #0048cd;
  margin: 2rem 0px;
  leading-trim: both;
  text-edge: cap alphabetic;


}

.project-title-wrap h3 {
  color: #0066ff !important
}

.bmcd-module h4 {


  font-family: "Aeonik", Arial;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: .05em;
  text-transform: none;


  color: #0066ff;
  margin: 2rem 0px;
  leading-trim: both;
  text-edge: cap alphabetic;



}

p.headingFourColor {

  font-family: "Aeonik", Arial;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: .05em;
  text-transform: none;


  color: #0066ff;
  margin: 2rem 0px;
  leading-trim: both;
  text-edge: cap alphabetic;


}

.bmcd-module h5 {


  font-family: "Aeonik", Arial;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: .05em;
  text-transform: none;


  color: #002d59;
  margin: 2rem 0px;
  leading-trim: both;
  text-edge: cap alphabetic;



}

.bmcd-module .subhead {


  font-family: "Aeonik", Arial;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: .05em;
  text-transform: none;


  color: #0066ff;

  leading-trim: both;
  text-edge: cap alphabetic;



}

.bmcd-module .subheadtwo {


  font-family: #002d59;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: .05em;
  text-transform: none;


  color: #0066ff;

  leading-trim: both;
  text-edge: cap alphabetic;



}

.bmcd-module .eyebrow {


  font-family: "Aeonik", Arial;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.125em;
  letter-spacing: .1em;
  text-transform: none;
  color: #546066;
  leading-trim: both;
  text-edge: cap alphabetic;
  ;
  margin-bottom: 1rem
}

.bmcd-module .eyebrowtwo {


  font-family: "Aeonik", Arial;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.125em;
  letter-spacing: .1em;
  text-transform: none;
  color: #546066;
  leading-trim: both;
  text-edge: cap alphabetic;


}

.bmcd-module .paragraphbold {

  font-size: 1.25rem;

  font-weight: 500;
  line-height: 1.25em;
  color: #051B38;


}

.bmcd-module p,
.collat-section p,
.collat-section li {

  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: .03em;
  text-transform: none;
  color: #0a0816;
  leading-trim: both;
  text-edge: cap alphabetic;

}

.bmcd-module a {
  color: #0066ff;
  font-weight: bold;
}

p.navigationLinkReversed {

  font-family: "Aeonik", Arial;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25em;
  letter-spacing: .05em;
  text-transform: none;
  color: white;
  margin: 0px;


}

.bmcd-module.reversed p.navigationLinkReversed {

  font-family: "Aeonik", Arial;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25em;
  letter-spacing: .05em;
  text-transform: none;
  color: white;
  margin: 0px;


}

.bmcd-module .quotetext {


  font-family: "Aeonik", Arial;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: .05em;
  text-transform: none;
  color: #051B38;
  leading-trim: both;
  text-edge: cap alphabetic;


}

.bmcd-module .stat {


  font-family: "Aeonik", Arial;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: normal;
  text-transform: none;
  color: #0a0816;
  leading-trim: both;
  text-edge: cap alphabetic;


}

/* outline style */

.bmcd-module.outline.reversed h1 {


  font-family: "Aeonik", Arial;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: .05em;



  color: #fff;
  margin: 2rem 0px;
  leading-trim: both;
  text-edge: cap alphabetic;


}

.bmcd-module .outline h2 {


  font-family: "Aeonik", Arial;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: .05em;



  color: #0a0816;
  margin: 2rem 0px;
  leading-trim: both;
  text-edge: cap alphabetic;


}

.bmcd-module.outline.reversed h2 {


  font-family: "Aeonik", Arial;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: .05em;


  color: white;
  margin: 2rem 0px;
  leading-trim: both;
  text-edge: cap alphabetic;


}

/* reversed style */

.bmcd-module.reversed h1 {


  font-family: "Aeonik", Arial;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: .05em;



  color: white;
  margin: 2rem 0px;
  leading-trim: both;
  text-edge: cap alphabetic;



}

p.headingTwoReversed {

  font-family: "Aeonik", Arial;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: .05em;

  color: white;
  margin: 2rem 0px;
  leading-trim: both;
  text-edge: cap alphabetic;

}

.bmcd-module.reversed h2 {


  font-family: "Aeonik", Arial;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: .05em;

  color: white;
  margin: 2rem 0px;
  leading-trim: both;
  text-edge: cap alphabetic;


}

.bmcd-module.reversed h3 {


  font-family: "Aeonik", Arial;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: .05em;
  text-transform: none;


  color: white;
  margin: 2rem 0px;
  leading-trim: both;
  text-edge: cap alphabetic;



}

.bmcd-module.reversed h4 {


  font-family: "Aeonik", Arial;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: .05em;
  text-transform: none;


  color: white;
  margin: 2rem 0px;
  leading-trim: both;
  text-edge: cap alphabetic;



}

.bmcd-module.reversed h5 {


  font-family: "Aeonik", Arial;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: .05em;
  text-transform: none;

  color: white;
  margin: 2rem 0px;
  leading-trim: both;
  text-edge: cap alphabetic;



}

.bmcd-module.reversed .subhead {


  font-family: "Aeonik", Arial;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: .05em;
  text-transform: none;


  color: white;

  leading-trim: both;
  text-edge: cap alphabetic;



}

.bmcd-module.reversed .subheadtwo {


  font-family: "Aeonik", Arial;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: .05em;
  text-transform: none;
  color: white;
  leading-trim: both;
  text-edge: cap alphabetic;


}

.bmcd-module.reversed .eyebrow {


  font-family: "Aeonik", Arial;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.125em;
  letter-spacing: .1em;
  text-transform: none;
  color: #33c0ff;
  leading-trim: both;
  text-edge: cap alphabetic;


}

.bmcd-module.reversed .eyebrowtwo {

  font-family: "Aeonik", Arial;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.125em;
  letter-spacing: .1em;
  text-transform: none;
  color: #33c0ff;
  leading-trim: both;
  text-edge: cap alphabetic;

}

.bmcd-module.reversed .paragraphbold {

  font-size: 1.25rem;

  font-weight: 500;
  line-height: 1.25em;
  color: #fff;


}

.bmcd-module.reversed p {

  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: .03em;
  text-transform: none;
  color: #e3e7e8;
  leading-trim: both;
  text-edge: cap alphabetic;

}

.bmcd-module.reversed ul,
.bmcd-module.reversed li {

  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: .03em;
  text-transform: none;
  color: #e3e7e8;
  leading-trim: both;
  text-edge: cap alphabetic;

}

.bmcd-module.reversed a {
  color: #fff;
  font-weight: bold;
}

.collat-body-wrap .collat-section {
  max-width: 940px
}

.bmcd-module.reversed .quotetext {


  font-family: "Aeonik", Arial;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: .05em;
  text-transform: none;
  color: #33c0ff;
  leading-trim: both;
  text-edge: cap alphabetic;


}

.bmcd-module.reversed .stat {


  font-family: "Aeonik", Arial;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: normal;
  text-transform: none;
  color: #33c0ff;
  leading-trim: both;
  text-edge: cap alphabetic;


}

.textintro-wrap {
  margin: 0px 0px;
  padding: 0px 0px 0px 4rem;
  border-left: 2px solid #a5abad
}

.split-text {

  display: flex;
  border: 0px solid black;

  flex-wrap: wrap;
  padding: 0px 0px 0px 0px
}

.split-graphic {

  display: flex;
  border: 0px solid black;

  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;

  padding: 0px 0px 0px 0px;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;


}

.split-graphic::-webkit-scrollbar {
  width: 0 !important
}

.split-graphic .text-intro-section-container {
  width: 40%;
  box-sizing: border-box;

}

.split-graphic .text-intro-section-container:nth-child(2) {
  padding: 0px 4rem 0px 0px;

}

.split-graphic .text-intro-section-container:nth-child(2):hover {
  transform: scale(1.1);
}

.split-graphic .text-intro-section-container.image:hover {
  transform: scale(1);
}

.split-graphic .text-intro-section-container.image {
  padding: 80% 0px 0px 0px;
  margin: 0px 4rem 0px 0px;
  width: calc(50% - 4rem)
}

.split-text .text-intro-section-container {
  width: 50%;
  box-sizing: border-box
}

.split-text .text-intro-section-container:nth-child(1) h4,
.split-text .text-intro-section-container:nth-child(1) p {
  text-align: right
}

.split-text .text-intro-section-container:nth-child(2) {
  padding: 0px 0px 0px 4rem;
}

.bmcd-module.parallax-image-class {
  padding: 0px 0px;
}

.bmcd-module {
  margin: 4rem 0px
}

.widthFull.wide_photo_video .widthWide .widthParagraph,
.widthFull.narrow_photo_video .widthWide .widthParagraph,
.widthFull.stagger_photo .widthWide .widthParagraph {
  max-width: 640px;
  align-self: center;
  margin: unset;
  padding-left: 4rem
}

.widthFull.wide_photo_video.flip .widthWide .widthParagraph,
.widthFull.narrow_photo_video.flip .widthWide .widthParagraph,
.widthFull.stagger_photo.flip .widthWide .widthParagraph {
  max-width: 640px;
  align-self: center;
  margin: unset;
  padding-left: 0px;
  padding-right: 4rem
}

/* .widthFull.wide_photo_video.flip>* {
  text-align:right
  }
  */
.widthFull.wide_photo_video .widthWide .image_video_container,
.widthFull.stagger_photo .widthWide .image_video_container,
.widthFull.narrow_photo_video .widthWide .image_video_container {
  width: 50%;
  position: relative
}

.widthFull.narrow_photo_video .widthWide .image_video_container .video-wrap {
  width: 100%;
  position: relative;
  max-width: 40%;

  width: 100%;
  float: right;
  transition: all 500ms ease
}

.widthFull.narrow_photo_video.flip .widthWide .image_video_container .video-wrap {
  width: 100%;
  position: relative;
  max-width: 408px;

  width: 100%;
  float: left;
  transition: all 500ms ease
}

.widthFull.narrow_photo_video .widthWide .image_video_container .video-wrap:hover {
  transform: scale(1.1);
}

.wistia_responsive_padding.bmcd-moduler {
  padding-top: 180%;
}

/* mobile */

@media(max-width:767px) {
  .buttonLarge {


    font-size: 1.375rem;



  }

  .headlineMedium {




    font-size: 1.375rem;



  }

  .headlineLarge {




    font-size: 1.5rem;



  }

  .headlineSmall {}

  .displayLarge {

    font-family: "Aeonik", Arial;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.2em;
    letter-spacing: .05em;
    leading-trim: both;
    text-edge: cap alphabetic;

  }

  .displayMedium {

    font-family: "Aeonik", Arial;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.25em;
    letter-spacing: .05em;
    leading-trim: both;
    text-edge: cap alphabetic;

  }


  .titleLarge {



    font-family: "Aeonik", Arial;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.2em;
    letter-spacing: .03em;
    leading-trim: both;
    text-edge: cap alphabetic;

  }

  .titleMedium {



    font-family: "Aeonik", Arial;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1.2em;
    letter-spacing: .03em;
    leading-trim: both;
    text-edge: cap alphabetic;

  }

  .titleSmall {



    font-family: "Aeonik", Arial;

    font-size: 1.5rem;


  }

  .statsMedium {


    font-family: "Aeonik", Arial;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2em;
    letter-spacing: .03em;
    leading-trim: both;
    text-edge: cap alphabetic;



  }



  .subheadLarge {

    font-family: "Aeonik", Arial;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.2em;
    letter-spacing: .05em;
    leading-trim: both;
    text-edge: cap alphabetic;


  }





}

@media(max-width:767px) {

  .bmcd-module.reversed p.navigationLinkReversed {
    font-size: 1.1rem
  }

  .wistia_responsive_padding.bmcd-moduler {
    padding-top: 56.25%
  }

  .bmcd-module {
    margin: 2rem 0px
  }

  .split-graphic .text-intro-section-container.image {
    margin: 0px 0px 0px 0px;
    width: 100%;
    padding: 180% 0px 0px 0px !important
  }

  .split-graphic .text-intro-section-container:nth-child(2) {
    padding: 0px 0px 0px 0px
  }

  .split-graphic .text-intro-section-container {
    width: 100%;
  }

  .split-graphic {
    flex-direction: column-reverse;
  }

  .split-text .text-intro-section-container:nth-child(1) h4,
  .split-text .text-intro-section-container:nth-child(1) p {
    text-align: left
  }

  .textintro-wrap {
    margin: 0px 0px;
    padding: 0px 0px 0px 0px;
    border-left: 0px solid #a5abad
  }

  .split-text .text-intro-section-container:nth-child(2) {
    padding: 0px 0px 0px 0px;
  }

  .split-text .text-intro-section-container {
    width: 100%;
    box-sizing: border-box
  }



  .bmcd-module h1 {

    font-size: 3rem
  }

  .bmcd-module h2 {

    font-size: 1.75rem;


  }


  .bmcd-module h3 {


    font-size: 2.5rem;





  }

  .bmcd-module h4 {



    font-size: 1.5rem;




  }

  p.headingFourColor {



    font-size: 1.5rem;



  }

  .bmcd-module h5 {


    font-size: 1.3rem;




  }

  .bmcd-module .subhead {


    font-size: 1.5rem;



  }


  .bmcd-module .stat {



    font-size: 2rem;



  }

  /* outline style */

  .bmcd-module.outline.reversed h1 {


    font-size: 3rem
  }

  .bmcd-module.outline h2 {


    font-size: 1.75rem;



  }

  .bmcd-module.outline.reversed h2 {


    font-size: 1.75rem;



  }

  /* reversed style */

  .bmcd-module.reversed h1 {


    font-size: 3rem
  }

  .bmcd-module.reversed h2 {



    font-size: 1.75rem;



  }

  p.headingTwoReversed {


    font-size: 1.75rem;

  }

  .bmcd-module.reversed h3 {



    font-size: 2.5rem;






  }

  .bmcd-module.reversed h4 {



    font-size: 1.5rem;




  }

  .bmcd-module.reversed h5 {


    font-size: 1.3rem;




  }

  .bmcd-module.reversed .subhead {


    font-size: 1.5em;


  }


  .bmcd-module.reversed .eyebrow {


    font-family: "Aeonik", Arial;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.125em;
    letter-spacing: .1em;
    text-transform: none;
    color: #33c0ff;
    leading-trim: both;
    text-edge: cap alphabetic;


  }

  .bmcd-module.reversed .stat {


    font-size: 2rem;




  }

  .widthFull.narrow_photo_video .widthWide .image_video_container .video-wrap {
    max-width: 1000px !important
  }

  .widthFull.wide_photo_video.flip .widthWide,
  .widthFull.narrow_photo_video.flip .widthWide,
  .widthFull.stagger_photo.flip .widthWide {

    display: flex;
    flex-wrap: wrap;
  }

  .widthFull.wide_photo_video .widthWide .image_video_container,
  .widthFull.stagger_photo .widthWide .image_video_container,
  .widthFull.narrow_photo_video .widthWide .image_video_container {
    width: 100%
  }

  .widthFull.wide_photo_video.flip .widthWide .widthParagraph,
  .widthFull.narrow_photo_video.flip .widthWide .widthParagraph,
  .widthFull.stagger_photo.flip .widthWide .widthParagraph {
    padding: 0px
  }


  .widthFull.wide_photo_video .widthWide,
  .widthFull.narrow_photo_video .widthWide,
  .widthFull.stagger_photo .widthWide {
    display: flex;
    flex-wrap: wrap;

  }

  .widthFull.wide_photo_video .widthWide .widthParagraph,
  .widthFull.narrow_photo_video .widthWide .widthParagraph,
  .widthFull.stagger_photo .widthWide .widthParagraph {
    padding: 0px
  }

  .widthFull.wide_photo_video.flip .widthWide,
  .widthFull.narrow_photo_video.flip .widthWide,
  .widthFull.stagger_photo.flip .widthWide {
    display: flex;
    flex-wrap: wrap;
  }

  .widthFull.wide_photo_video .widthWide .image_video_container,
  .widthFull.stagger_photo .widthWide .image_video_container,
  .widthFull.narrow_photo_video .widthWide .image_video_container {
    width: 100%
  }

  .widthFull.wide_photo_video.flip .widthWide .widthParagraph,
  .widthFull.narrow_photo_video.flip .widthWide .widthParagraph,
  .widthFull.stagger_photo.flip .widthWide .widthParagraph {
    padding-right: 0px
  }

  .widthFull.wide_photo_video .widthWide,
  .widthFull.narrow_photo_video .widthWide,
  .widthFull.stagger_photo .widthWide {
    display: flex;
    flex-wrap: wrap;
  }

  .widthFull.wide_photo_video .widthWide .image_video_container,
  .widthFull.stagger_photo .widthWide .image_video_container,
  .widthFull.narrow_photo_video .widthWide .image_video_container {
    width: 100%;
  }

  .widthFull.wide_photo_video .widthWide .widthParagraph,
  .widthFull.narrow_photo_video .widthWide .widthParagraph,
  .widthFull.stagger_photo .widthWide .widthParagraph {
    padding-left: 0px
  }


}

@media (max-width:1000px) {
  .widthWide {
    overflow-x: hidden !important
  }
}

/* end of header and body styles */

.collat-body-wrap .burns-button:hover {
  color: white !important
}

.buttonContainer {
  margin: 2rem 0px
}

a.buttonBurns {


  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25em;
  text-decoration: none;
  color: #546066;
  cursor: pointer;
  transition: all 500ms;
  ;


}

.buttonBurns svg,
.buttonBurns i {
  transition: all 0.5s ease;
}

.buttonBurns.pill,
form input[type=submit],
.cta_button,
.CTA-button,
.cta_button.CTA-button {


  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25em;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: all 500ms;
  background-color: transparent;
  border: 2px solid white;
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-weight: 600 !important
}

form .hs_submit input[type=submit] {
  color: #0066ff;
  border: 1px solid #0066ff
}

form .hs_submit input[type=submit]:hover {
  border: 1px solid #0066ff;
  background-color: #0066ff;
  color: white;
}

.hs-embed-wrapper {
  overflow: initial !important;
  max-width: inherit !important;
  padding: 20px 0px !important
}

.location-data .buttonBurns.pill {
  color: #0066ff;
  border: 1px solid #0066ff
}

.location-data .buttonBurns.pill:hover {
  border: 1px solid #0066ff;
  background-color: #0066ff;
  color: white !important;
}

.location-data .buttonBurns.pill:hover i {
  color: white !important;
}


.buttonBurns.pill:hover,
form input[type=submit]:hover,
.cta_button:hover,
.CTA-button:hover,
.cta_button.CTA-button:hover {



  color: #0066ff;
  cursor: pointer;
  transition: all 500ms;
  background-color: white;
  border: 1px solid white;
  text-decoration: none;

}

.buttonBurns.pill:hover svg,
.buttonBurns.pill:hover i {
  color: #0066ff !important
}

.reversed .buttonBurns {

  color: #fff
}

.reversed .buttonBurns:hover {
  color: #0066ff
}

.reversed .buttonBurns:hover svg,
.reversed .buttonBurns:hover i {
  color: #0066ff !important
}

.buttonBurns svg,
.buttonBurns i {
  transition: left 500ms, top 500ms;
  position: relative;
  top: 0px;
  left: 0px
}

.buttonBurns:hover {

  color: #0066ff
}

.buttonBurns:hover svg,
.buttonBurns:hover i {
  left: 8px
}

.buttonBurns:hover .fa-arrow-down,
.buttonBurns:hover .fa-download {
  margin-left: 0px;
  top: 8px;
  position: relative;
}

.circularButton {

  width: 40px;
  text-decoration: none;
  background-color: #0066ff;
  border-radius: 60px;
  cursor: pointer;
  transition: all 500ms;
  color: #fff;
  position: relative;
  height: 40px
}

.circularButton svg,
.circularButton i {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%
}

.circularButton:hover {
  background-color: #a7e0ff
}

.circularButton.inactive {
  opacity: .7
}

.circularButton.inactive:hover {

  width: 40px;
  text-decoration: none;
  background-color: #0066ff;
  border-radius: 60px;
  cursor: pointer;
  transition: all 500ms;
  color: #fff;
  position: relative;
  height: 40px;
  cursor: default !important
}


@media(max-width:767px) {
  .buttonBurns.pill {
    font-size: 1.1rem
  }
}